[Unit]
Requires=postgresql.service

[Service]
ExecStart=/usr/bin/concourse-worker
WorkingDirectory=/var/cache/concourse

[Install]
WantedBy=multi-user.target
