Package: concourse-worker
Version: 1.6.0
Architecture: amd64
Maintainer: Patrick Pokatilo <mail@shyxormz.net>
Installed-Size: 0
Depends: concourse-bin (=1.6.0), postgresql (>=9.0), systemd
Section: admin
Priority: extra
Homepage: http://concourse.ci/
Description: CI that scales with your project.
