Package: concourse-worker
Version: $(CONCOURSE_VERSION)-$(WORKER_PACKAGE_VERSION)
Architecture: amd64
Maintainer: Patrick Pokatilo <mail@shyxormz.net>
Installed-Size: 0
Depends: concourse-bin (>=$(CONCOURSE_VERSION)), postgresql (>=9.0), systemd
Section: admin
Priority: extra
Homepage: http://concourse.ci/
Description: CI that scales with your project.
