Package: concourse-worker
Version: $(CONCOURSE_VERSION)-$(WORKER_PACKAGE_VERSION)
Architecture: amd64
Maintainer: Patrick Pokatilo <mail@shyxormz.net>
Installed-Size: 24
Depends: bash, concourse-bin (>=$(CONCOURSE_VERSION)), openssh-client, systemd
Section: admin
Priority: extra
Homepage: http://concourse.ci/
Description: CI that scales with your project.
