[Unit]
Requires=postgresql.service
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/concourse-web
ExecReload=/bin/systemctl restart concourse-web
WorkingDirectory=/var/cache/concourse

[Install]
WantedBy=multi-user.target
