Package: concourse-web
Version: $(CONCOURSE_VERSION)-$(WEB_PACKAGE_VERSION)
Architecture: amd64
Maintainer: Patrick Pokatilo <mail@shyxormz.net>
Installed-Size: 24
Depends: bash, concourse-bin (>=$(CONCOURSE_VERSION)), openssh-client, postgresql (>=9.0), sudo, systemd
Section: admin
Priority: extra
Homepage: http://concourse.ci/
Description: CI that scales with your project.
