Package: concourse-bin
Version: $(CONCOURSE_VERSION)-$(BINARY_PACKAGE_VERSION)
Architecture: amd64
Maintainer: Patrick Pokatilo <mail@shyxormz.net>
Installed-Size: 274248704
Recommends: concourse-web (>=$(CONCOURSE_VERSION)), concourse-worker (>=$(CONCOURSE_VERSION))
Section: admin
Priority: extra
Homepage: http://concourse.ci/
Description: CI that scales with your project.
